@font-face {
    font-family: "StarWars";
    src: url(DeathStar-VmWB.ttf) format(truetype);
}

body{
    margin: 0;  
}
header{
    font-family: "StarWars", sans-serif;
    background-color: #AB1822;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 30px;
    text-shadow: 3px 5px rgb(250, 100, 0);
}
header-image{
    border-radius: 360px;
}
